<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>

	<!-- 打开日志
	<settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings> -->
    
	<!-- 设置实体类的别名 -->
    <typeAliases>
        <package name="pojo"/>
    </typeAliases> 
    
    <!-- 声明sql映射文件的包名 -->
    <mappers>
        <package name="dao"/>
    </mappers>
    
</configuration>


